[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
ipython = "*"
jedi = "==0.17.2"
yapf = "*"

[packages]
numpy = "*"
matplotlib = "*"
sympy = "*"
pathos = "*"

[requires]
python_version = "3.7"
